/* styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
}

.sidebar-container{
    height: 100%;
}
.sidebar {
  background: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  width: 250px; /* Set the width of the sidebar */
}

.content {
  flex-grow: 1;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background: #007bff;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #0056b3;
}

.chart {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

/* Customize chart legend */
.chart .chartjs-render-monitor {
  margin: 10px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 100%;
  padding: 2%;
}

.sidebar-container {
  flex: 1;
}

.chart-layout {
  flex: 3;
  padding: 0 3%;
  align-items: center;
}

.navbar-container {
  width: 100%;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 500px) {
  .bottom-row {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
}


/* Add this CSS to your existing styles or create a new CSS file */

/* Style for the checkbox container */
.checkbox-container {
    margin-bottom: 20px;
  }
  
  /* Style for individual checkbox */
  .checkbox-item {
    margin-bottom: 10px;
  }
  
  /* Style for the checkbox input */
  .checkbox-item input {
    margin-right: 8px; /* Adjust the spacing between the checkbox and label */
  }
  
  /* Style for the checkbox label */
  .checkbox-item label {
    font-weight: bold;
    display: inline-block;
  }
  
  /* Style for the checkbox when checked */
  .checkbox-item input:checked + label {
    color: #007bff; /* Change color when checked */
  }
  
  /* Style for the checkbox hover effect */
  .checkbox-item:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    transition: background-color 0.3s ease-in-out;
  }
  